<div class="page-header">
  <h1>
    Resident parking permits
    <a href="/resident_parking_permits/new" class="btn btn-lg btn-success">New Resident parking permit</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Resident</th>
        <th>Vehicle</th>
        <th>Valid date</th>
        <th>Expiration date</th>
        <th>Activation code</th>
        <th>Actions</th>
      </tr>

      <% @resident_parking_permits.each do |resident_parking_permit| %>
      <tr>
        <td><%= resident_parking_permit.resident.username %></td>
        <td><%= resident_parking_permit.resident_vehicle.nickname %></td>
        <td><%= resident_parking_permit.valid_date %></td>
        <td><%= resident_parking_permit.expiration_date %></td>
        <td><%= resident_parking_permit.activation_code %></td>
        <td>
          <a href="/resident_parking_permits/<%= resident_parking_permit.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == resident_parking_permit.resident %>
            <a href="/resident_parking_permits/<%= resident_parking_permit.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_resident_parking_permit/<%= resident_parking_permit.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
