<div class="page-header">
  <h3>Resident Parking Permit #<%= @resident_parking_permit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resident</dt>
      <dd>
        <% if @resident_parking_permit.resident.present? %>
          <a href="/users/<%= @resident_parking_permit.resident_id %>">
            <%= @resident_parking_permit.resident.username %>
          </a>
        <% end %>
      </dd>

      <dt>Vehicle</dt>
      <dd>
        <% if @resident_parking_permit.resident_vehicle.present? %>
          <a href="/vehicles/<%= @resident_parking_permit.vehicle_id %>">
            <%= @resident_parking_permit.resident_vehicle.nickname %>
          </a>
        <% end %>
      </dd>

      <dt>Valid</dt>
      <dd><%= @resident_parking_permit.valid_date.strftime("%A, %B %d, %Y") %>" - "<%= @res_parking_permit.expiration_date.strftime("%A, %B %d, %Y") %></dd>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/resident_parking_permits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @resident_parking_permit.resident %>
        <a href="/resident_parking_permits/<%= @resident_parking_permit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_resident_parking_permit/<%= @resident_parking_permit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
