<!-- Validation failure messages -->
<% if @visitor_parking_permit.errors.any? %>
  <% @visitor_parking_permit.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Visitor Parking Permit #<%= @visitor_parking_permit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_visitor_parking_permit/<%= @visitor_parking_permit.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for resident_id -->
      <div class="form-group">
        <label for="resident_id" class="control-label">
          Resident
        </label>

        <%= select_tag(:resident_id, options_from_collection_for_select(User.all, :id, :username, @visitor_parking_permit.resident_id), :class => "form-control") %>
      </div>

      <!-- Label and input for valid_date -->
      <div class="form-group">
        <label for="valid_date" class="control-label">
          Valid date
        </label>

        <input type="text" id="valid_date" name="valid_date" placeholder="Valid date" class="form-control" value="<%= @visitor_parking_permit.valid_date %>">
      </div>

      <!-- Label and input for expiration_date -->
      <div class="form-group">
        <label for="expiration_date" class="control-label">
          Expiration date
        </label>

        <input type="text" id="expiration_date" name="expiration_date" placeholder="Expiration date" class="form-control" value="<%= @visitor_parking_permit.expiration_date %>">
      </div>

      <!-- Label and input for activation_code -->
      <div class="form-group">
        <label for="activation_code" class="control-label">
          Activation code
        </label>

        <input type="text" id="activation_code" name="activation_code" placeholder="Activation code" class="form-control" value="<%= @visitor_parking_permit.activation_code %>">
      </div>

      <button class="btn btn-warning">
        Update Visitor Parking Permit
      </button>
      or
      <a href="/visitor_parking_permits/<%= @visitor_parking_permit.id %>">Cancel</a>
    </form>
  </div>
</div>
