<!-- Validation failure messages -->
<% if @visitor_parking_permit.errors.any? %>
  <% @visitor_parking_permit.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Activate Visitor Parking Permit
      <a href="/vehicles/new" class="btn btn-sm btn-warning pull-right">Add Vehicle First</a>
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_visitor_parking_permit" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for resident_id -->
      <input type="hidden" name="resident_id" value="<%= current_user.id %>">

       <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Permit Description
        </label>

        <input type="text" id="description" name="description" placeholder="e.g. 2018 Visitor Pass 2" class="form-control" value="<%= @visitor_parking_permit.description %>">
      </div>
      
      
      <!-- Label and input for valid_date -->
      <input type="hidden" name="valid_date" value="<%= DateTime.new(2018, 1, 1, 0, 0, 0) %>">


      <!-- Label and input for expiration_date -->
      <input type="hidden" name="expiration_date" value="<%= DateTime.new(2018, 12, 31, 23, 59, 59) %>">
 
      <!-- Label and input for activation_code -->
      <div class="form-group">
        <label for="activation_code" class="control-label">
          Activation code
        </label>

        <input type="text" id="activation_code" name="activation_code" placeholder="Enter the permit code provided by your city (case sensitive)" class="form-control" value="<%= @visitor_parking_permit.activation_code %>">
      </div>

      <button class="btn btn-success">
        Activate Permit
      </button>
      or
      <a href="/visitor_parking_permits">Cancel</a>
    </form>
  </div>
</div>
