<div class="page-header">
  <h3>Visitor Parking Permit #<%= @visitor_parking_permit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resident</dt>
      <dd><%= @visitor_parking_permit.resident_id %></dd>

      <dt>Valid date</dt>
      <dd><%= @visitor_parking_permit.valid_date %></dd>

      <dt>Expiration date</dt>
      <dd><%= @visitor_parking_permit.expiration_date %></dd>

      <dt>Activation code</dt>
      <dd><%= @visitor_parking_permit.activation_code %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/visitor_parking_permits" class="btn btn-primary">
        Back
      </a>
      <a href="/visitor_parking_permits/<%= @visitor_parking_permit.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_visitor_parking_permit/<%= @visitor_parking_permit.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
