<div class="page-header">
  <h3>Visitor Parking Permit #<%= @visitor_parking_permit.description %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resident</dt>
      <dd>
        <% if @visitor_parking_permit.resident.present? %>
          <a href="/users/<%= @visitor_parking_permit.resident_id %>">
            <%= @visitor_parking_permit.resident.username %>
          </a>
        <% end %>
      </dd>

      <dt>Valid</dt>
      <dd><%= @visitor_parking_permit.valid_date.strftime("%A, %B %d, %Y") %>" - "<%= @visitor_parking_permit.expiration_date.strftime("%A, %B %d, %Y") %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/visitor_parking_permits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @visitor_parking_permit.resident %>
        <a href="/visitor_parking_permits/<%= @visitor_parking_permit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_visitor_parking_permit/<%= @visitor_parking_permit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Visitor parking permit has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @visitor_parking_permit.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.vehicle_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_loan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vehicle_id -->
      <div class="form-group">
        <label for="vehicle_id" class="control-label">
          Vehicle
        </label>

        <%= select_tag(:vehicle_id, options_from_collection_for_select(Vehicle.all, :id, :nickname), :class => "form-control") %>
      </div>

      <!-- Label and input for permit_id -->
      <div class="form-group">
        <label for="permit_id" class="control-label">
          Permit
        </label>

        <%= select_tag(:permit_id, options_from_collection_for_select(VisitorParkingPermit.all, :id, :resident_id), :class => "form-control") %>
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Loan
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
