<div class="page-header">
  <h3>Visitor Parking Permit #<%= @visitor_parking_permit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resident</dt>
      <dd><%= @visitor_parking_permit.resident_id %></dd>

      <dt>Valid date</dt>
      <dd><%= @visitor_parking_permit.valid_date %></dd>

      <dt>Expiration date</dt>
      <dd><%= @visitor_parking_permit.expiration_date %></dd>

      <dt>Activation code</dt>
      <dd><%= @visitor_parking_permit.activation_code %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/visitor_parking_permits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @visitor_parking_permit.resident %>
        <a href="/visitor_parking_permits/<%= @visitor_parking_permit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_visitor_parking_permit/<%= @visitor_parking_permit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Visitor parking permit has many loans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Loans
      </li>

      <% @visitor_parking_permit.loans.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.vehicle_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/loans/<%= loan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
