<head>
  <style>
   body { 
     background: url(https://i.ytimg.com/vi/FNP4evGIWXo/maxresdefault.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
  .jumbotron-transp-dk {
     padding: 30px, 0px, 0px, 0px; 
     margin-bottom: 30px;
     font-size: 18px;
     font-weight: 300;
     line-height: 2.1428571435;
     color: inherit;
     background-color: rgba(128, 125, 130, .5);  
    }   
  .jumbotron-transp-lt {
     padding: 30px;
     margin-bottom: 30px;
     font-size: 18px;
     font-weight: 300;
     line-height: 2.1428571435;
     color: inherit;
     background-color: rgba(228, 225, 230, .75);   
    } 
</style>
</head>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-transp-dk">
<div class="container"><h2 class="text-success"><strong>IT FINALLY CLICKED.</strong></h2></div>

<div class="jumbotron jumbotron-fluid jumbotron-transp-lt">
  <div class="container"> 
    <p class="text-center">Parking permits should be simple and hassle-free. Join our 2018 virtual parking permit pilot in Greater Boston.

Residents with valid parking permits in Somerville, Cambridge, Boston, and Malden will be the first to gain access; you will be offered a sign-up code when you purchase your parking permit.

Registering with StreetSide allows you to permit your car sticker-free - and you'll be able to share your visitors permit with just a few clicks!</p></div>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Log In</h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal", role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <% if devise_mapping.rememberable? -%>
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %> Remember me
                <% end %>
              <% end -%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "Log in", class: "btn btn-success btn-block" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
