<div class="page-header">
  <h3>Vehicle #<%= @vehicle.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Year</dt>
      <dd><%= @vehicle.year %></dd>

      <dt>Make</dt>
      <dd><%= @vehicle.make %></dd>

      <dt>Model</dt>
      <dd><%= @vehicle.model %></dd>

      <dt>Color</dt>
      <dd><%= @vehicle.color %></dd>

      <dt>License plate</dt>
      <dd><%= @vehicle.license_plate %></dd>

      <dt>Nickname</dt>
      <dd><%= @vehicle.nickname %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vehicles" class="btn btn-primary">
        Back
      </a>
      <a href="/vehicles/<%= @vehicle.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vehicle/<%= @vehicle.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Vehicle has many visitor_pass_uses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Visitor Pass Uses
      </li>

      <% @vehicle.visitor_pass_uses.each do |loan| %>
        <li class="list-group-item">
          <a href="/loans/<%= loan.id %>">
            <%= loan.vehicle_id %>
          </a>
          <!--<div class="btn-group btn-group-xs pull-right">-->
          <!--  <a href="/loans/<%= loan.id %>" class="btn btn-primary">-->
          <!--    <i class="fa fa-search-plus"></i>-->
          <!--  </a>-->
            <a href="/loans/<%= loan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_loan/<%= loan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_loan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for vehicle_id -->
      <input type="hidden" name="vehicle_id" value="<%= @vehicle.id %>">

      <!-- Label and input for permit_id -->
      <div class="form-group">
        <label for="permit_id" class="control-label">
          Permit
        </label>

        <%= select_tag(:permit_id, options_from_collection_for_select(VisitorParkingPermit.all, :id, :resident_id), :class => "form-control") %>
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Lend a Pass
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Vehicle has many vehicle_owner -->

<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <ul class="list-group">-->
<!--      <li class="list-group-item list-group-item-info">-->
<!--        Vehicle Owner-->
<!--      </li>-->

<!--      <#% @vehicle.vehicle_owner.each do |user| %>-->
<!--        <li class="list-group-item">-->
<!--          <a href="/users/<#%= user.id %>">--> 
<!--            <#%= user.username %>-->
<!--          </a>-->
<!--          <div class="btn-group btn-group-xs pull-right">-->
<!--            <a href="/users/<#%= user.id %>" class="btn btn-primary">-->
<!--              <i class="fa fa-search-plus"></i>-->
<!--            </a>-->
<!--            <a href="/users/<#%= user.id %>/edit" class="btn btn-warning">-->
<!--              <i class="fa fa-edit"></i>-->
<!--            </a>-->
<!--            <a href="/delete_user/<#%= user.id %>" class="btn btn-danger" rel="nofollow">-->
<!--              <i class="fa fa-trash-o"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </li>-->
<!--      <#% end %>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
